[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.101.1"
uvicorn = "==0.23.2"
mangum = "==0.17.0"
pendulum = "==2.1.2"
python-dotenv = "==1.0.0"
boto3 = "==1.28.29"
python-slugify = "==7.0.0"
pyjwt = "==2.6.0"
pydantic = {extras = ["email"], version = "==2.2.0"}
pydantic-settings = "==2.0.3"
httpx = "==0.24.1"
markdown = "==3.4.4"
pyhumps = "==3.8.0"

[dev-packages]
pytest = "==7.4.0"
pytest-asyncio = "==0.21.1"
pytest-cov = "==4.1.0"
pytest-dotenv = "==0.5.2"
pytest-mock = "==3.11.1"
pytest-xdist = "==3.3.1"
moto = "==4.1.14"
pycodestyle = "==2.11.0"
black = "==22.12.0"
respx = "==0.20.2"
isort = "==5.12.0"
aws-lambda-powertools = {extras = ["all"], version = "==2.22.0"}
autoflake = "==2.2.0"
faker = "==19.3.0"

[requires]
python_version = "3.11"
