[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = ">=0.88.0"
uvicorn = ">=0.20.0"
mangum = ">=0.17.0"
pendulum = ">=2.1.2"
fastapi-camelcase = ">=1.0.5"
python-dotenv = ">=0.21.0"
boto3 = ">=1.26.40"
python-slugify = ">=7.0.0"
pyjwt = ">=2.6.0"
pydantic = {extras = ["email"], version = ">=1.10.3"}
httpx = ">=0.23.1"
certifi = ">=2022.12.07"
markdown = ">=3.4.1"

[dev-packages]
pytest = ">=7.2.0"
pytest-asyncio = ">=0.20.3"
pytest-cov = ">=4.0.0"
pytest-dotenv = ">=0.5.2"
pytest-mock = ">=3.10.0"
pytest-xdist = ">=3.1.0"
moto = ">=4.0.12"
pycodestyle = ">=2.10.0"
black = ">=22.12.0"
respx = ">=0.20.1"
isort = ">=5.11.4"
aws-lambda-powertools = {extras = ["all"], version = ">=2.7.1"}

[requires]
python_version = "3.9"
