[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.78.0"
uvicorn = "==0.17.6"
mangum = "==0.15.0"
pendulum = "==2.1.2"
fastapi-camelcase = "==1.0.5"
python-dotenv = "==0.20.0"
boto3 = "==1.24.2"
python-slugify = "==6.1.2"

[dev-packages]
pytest = "==7.1.2"

[requires]
python_version = "3.10"
